# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
conexion.py
recomendacion.py
window.py
01_extraccion.py
02_transformacion.py
03_window_functions.py
04_recomendacion.py
.DS_Store
# Executables
*.swf
*.air
*.ipa
*.apk
*.csv
*.json
*.tar

# Spark
spark-warehouse/
derby.log

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
